arrowParens: 'avoid'
singleQuote: true
bracketSpacing: true
endOfLine: 'lf'
semi: true
tabWidth: 2
trailingComma: 'none'
printWidth: 80
plugins:
  - prettier-plugin-svelte
  - prettier-plugin-tailwindcss
overrides:
  - files: '*.svelte'
    options:
      parser: svelte
